* {
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}

html {
    background-image: url(./assets/paper.JPG);
background-color: rgb(255, 255, 255, .6);
background-blend-mode: lighten;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-bold-italic {
    font-family: "Libre Baskerville", system-ui;
    font-weight: 700;
    font-style: italic;
  }
  

.container {
height: 100vh;
min-height: 100%;
/* background-image: url(./assets/paper.JPG);
background-color: rgb(255, 255, 255, .6);
background-blend-mode: lighten; */
}

.hero {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.header {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 60px;
}

.subheader {
    font-size: 30px;
    grid-column: 2 /3;
    grid-row: 3 / 4;
    place-self: start;
}

.p-text {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    
}

.polaroid {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
    place-self: center;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 2px;
    box-shadow: 1px 1px 5px black;
    height: 300px;
    width: 225px;
    transform: rotate(32deg);
}

.picture img{
    padding-top: 5px;
    height: 225px;
    width: 198px;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.skills > .header {
    grid-row: 1/ 2;
}

.skills > .subheader {
    grid-row: 2 / 3;
}

.web {
    grid-column: 2 /3;
    grid-row: 3 / 4;
}

.music {
    grid-column: 2 /3;
    grid-row: 4 / 5;
}

.craft {
    grid-column: 2 /3;
    grid-row: 5 / 6;
}

.list > h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}